<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="styles/tachyons.css">
</head>
<body class="bg-black">
  <img class="bg-black-90" src="images/logo.svg" />
  <h1>{{ title }}</h1>
  <p>{{ description }}</p>  
</body>
</html>